.icon-bar{
    border:1px solid rgb(1,34,105);
}
.navbar-toggle{
    background-color:#ffdb4d;
}
.custNav{
    background: rgb(1,34,105);
}
.header {
    background-image: url('../images/blue-sky-clouds.jpg');
    background-repeat: no-repeat;
    background-size:100% 720px;
    color:white;
    /*margin-top: -150px;*/
}

.wrapper{
    background: rgba(0,0,0,0.72);
    height: 500px;
    border-radius: 5px;
    margin: 20px 0px;
    border-radius: .35294118em;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
    padding: 20px 20px;
}

.logo-white{
    background: url(../images/WhiteLogo.png) no-repeat 92% 91%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    border-radius: 200px;
}

.logo-white:hover {
    background-position: 2% 3%;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.a-header img {
    height: auto;
    display: block;
    max-width: 120px;
}

@media only screen and (max-width: 768px) {
    /*For mobile*/
    .a-header img {
        display: none;
    }
    div#map {
        display: none;
    }
    .wrapper{
        height: 630px;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .navbar-nav>li>a {
        line-height: 93px !important;
        font-family: 'montserrat',sans-serif;
        letter-spacing: 2px;
        font-weight: 700;
        margin-left: 10px;
        color:white;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        color:grey;
         background-color: #eee;
    }

}
#sel1{
    margin-top: 11px !important;
}
.form-control{
    height: 38px !important;
}
md-datepicker{
    padding-bottom: 12px !important;
    padding-top: 10px !important;
    border-radius:4px;
}
md-content.md-default-theme, md-content{
    background: none;
}

.search{
    background-color: #ffdb4d;
    color :#193446 ;
    box-shadow: 0px 3px 0px rgba(204, 163, 0, 1);
    letter-spacing: 1px;
}

.why{
    font-family: 'montserrat',sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
}

.faIcon{
    color: #ffffff;
}

.services{
    padding: 8% 5%;
    background: #ffffff;
    color: #193446;
}
.hrWhy{
    width: 20%;
    border-bottom: 1px solid #193446 ;
}


/*footer*/
.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #193446;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    padding-top: 13px;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #193446;
    font-size: 20px;
    color: #193446;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #193446;
    color: #ffdb4d;
    background: #193446;
}

footer {
    background-color: #ffdb4d;
    color: #193446;
    padding: 15px;
}

html, body {
    height: 100%;

}

#wrap {
    min-height: 100%;
}

#main {
    /*overflow:auto; */  /* this makes the page go left right*/
    padding-bottom:190px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear:both;
    padding-top:20px;
}

.step-2{
    padding-top: 15px;
    padding-bottom: 15px;
}

/*  credit cards  */
.i-iconfont-selected {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
     height: 0;
    border: 8px solid;
    border-color: transparent #f80 #f80 transparent;
}

label > input{ /* HIDE RADIO */
    display:none;
}
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
    border: 2px solid  rgb(1,34,105);
}

.smaller-card{
    height: 38px;
}

.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}

.stepsLi{
    width:50px;
    height:50px;
    padding:0px 0px !important;
    margin-right: -4px;
    margin-top: 10px;
}

.stepsNotCompleted{
    opacity: 0.4;
}

@media only screen and (max-width: 768px) {
    /*For mobile*/
    .stepsLi{
        width:40px;
        height:40px;
        padding:0px 0px !important;
        margin-right: -4px;
        margin-top: 10px;
    }
}