<div class="container ">
    <div class="row">
        <div class="col-xs-12 text-right">
            <ul class="list-unstyled list-inline">
                <li class="stepsLi"><a ui-sref="searchTickets"> <img class="img img-responsive" ng-src="images/steps/step1.png"></a> </li>
                <li class="stepsLi"> <img class="img img-responsive" ng-src="images/steps/connect.png"> </li>
                <li class="stepsLi"><a ui-sref="userInfo"> <img class="img img-responsive" ng-src="images/steps/step2.png"></a></li>
                <li class="stepsLi"> <img class="img img-responsive" ng-src="images/steps/connect.png"> </li>
                <li class="stepsLi"><a ui-sref="payment"><img class="img img-responsive" ng-src="images/steps/step3.png"></a></li>
                <li class="stepsLi"> <img class="img img-responsive" ng-src="images/steps/connect.png"> </li>
                <li class="stepsLi"><a ui-sref="confirmation"><img class="img img-responsive" ng-src="images/steps/step4.png"></a> </li>
            </ul>
        </div>
    </div>
    <div class="row step-2">
        <h3><b>Confirmation page</b></h3>
        <div class="col-md-8 ">
            <br>
            <br>
            <div class="well" style="font-size: 1.3em">
                Dear user, <br>
                Your ticket have been <span style="color:#5cb85c">successfully </span> paid. You can print them rigth now <br>
                but We have also  sent you this confirmation on email.
            </div>

            <hr>


            <ul class="list-unstyled">
                <li>
                    <span class=" fa fa-user"></span>
                    {{person.cardHolderName}} {{person.cardHolderSurname}}
                </li>
                <li>
                    <span class="fa fa-home">
                        {{person.city}}, {{person.country}}</span>
                </li>
                <li><span style="color:#5cb85c;" class="fa fa-check"></span>
                    Your tickets have been sent to <b>{{person.email}}</b>
                </li>
                <li><span style="color:#5cb85c;" class=" fa fa-check"></span>
                    {{ticket.travelers}} ticket(s) for <b>{{ticket.cost | currency}}</b>
                </li>

            </ul>
            <button class="btn btn-success" ng-click="printDiv('printable')">Print your tickets</button>
        </div>
        <!--summary-->
        <div class="col-md-4" ui-view="trip">

        </div> <!--end summary-->
    </div>
</div>


<div id="printable" ng-hide="1" >
    <div style="border: 1px solid darkgray; padding: 5px;">
        {{ticket.class}} class
        <div class="row">
            <div class="col-xs-6">Flight & date</div>
            <div class="col-xs-3">Gate</div>
            <div class="col-xs-3">Seat</div>
        </div>
        <div class="row">
            <div class="col-xs-6">{{ticket.departure | date:'yyyy-MM-dd'}}</div>
            <div class="col-xs-3">A2</div>
            <div class="col-xs-3">105</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-4">Boarding time</div>
            <div class="col-xs-4">{{ticket.departureHour}} </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">From</div>
            <div class="col-xs-6">To</div>
        </div>
        <div class="row">
            <div class="col-xs-6">{{ticket.destinationFrom}}</div>
            <div class="col-xs-6">{{ticket.destinationTo}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">Name</div>
            <div class="col-xs-6">Surname</div>
        </div>
        <div class="row">
            <div class="col-xs-6">{{person.name}}</div>
            <div class="col-xs-6">{{person.surname}}</div>
        </div>
        <hr>
    </div>
    <div style="border: 1px solid darkgray; padding: 5px;" ng-if="ticket.travelers >= 2">
        {{ticket.class}} class
        <div class="row">
            <div class="col-xs-6">Flight & date</div>
            <div class="col-xs-3">Gate</div>
            <div class="col-xs-3">Seat</div>
        </div>
        <div class="row">
            <div class="col-xs-6">{{ticket.departure | date:'yyyy-MM-dd'}}</div>
            <div class="col-xs-3">A2</div>
            <div class="col-xs-3">106</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-4">Boarding time</div>
            <div class="col-xs-4">{{ticket.departureHour}} </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">From</div>
            <div class="col-xs-6">To</div>
        </div>
        <div class="row">
            <div class="col-xs-6">{{ticket.destinationFrom}}</div>
            <div class="col-xs-6">{{ticket.destinationTo}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">Name</div>
            <div class="col-xs-6">Surname</div>
        </div>
        <div class="row">
            <div class="col-xs-6">{{person.name2}}</div>
            <div class="col-xs-6">{{person.surname2}}</div>
        </div>
        <hr>
    </div>
</div>