<div class="container ">
    <div class="row step-2">
        <div class="col-md-8 ">
            <h3><b>Confirmation page</b></h3>
            <br>
            <br>
            Your payment information
            <hr>


            <ul class="list-unstyled">
                <li><span style="color:#5cb85c;" class=" fa fa-check"></span> {{ticket.travelers}} ticket(s) for {{ticket.cost | currency}}</li>
                <li><span style="color:#5cb85c;" class="fa fa-check"></span> Your tickets have been sent to <b>{{person.email}}</b></li>
            </ul>
            <button class="btn btn-success" ng-click="printDiv('printable')">Print your tickets</button>
        </div>
        <!--summary-->
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h4><b>Trip summary</b></h4></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <b> Departure from {{ticket.destinationFrom}} </b>
                        </div>

                        <div class="col-xs-6"> <span class="fa fa-clock-o"></span> {{ticket.departureHour}}</div>
                        <div class="col-xs-6"> <span class="fa fa-calendar"></span> {{ticket.departure  | date:'yyyy-MMM-dd'}}</div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <b> Departure to {{ticket.destinationTo}} </b>
                        </div>
                        <div class="col-xs-6"> <span class="fa fa-clock-o"></span> {{ticket.returnHour}}</div>
                        <div class="col-xs-6"> <span class="fa fa-calendar"></span> {{ticket.return | date:'yyyy-MMM-dd'}}</div>
                    </div>
                    <hr>
                    <div>
                        <b>Passengers</b>
                        {{ticket.travelers}}
                    </div>
                    <hr>
                    <div>
                        <b>Final price</b>
                        <h4 ><b>{{ticket.cost | currency}}</b></h4>
                    </div>
                </div>
            </div>
        </div> <!--end summary-->
    </div>
</div>


<div id="printable" ng-hide="1" >
    <div style="border: 1px solid darkgray; padding: 5px;">
        {{ticket.class}} class
        <div class="row">
            <div class="col-xs-6">Flight & date</div>
            <div class="col-xs-3">Gate</div>
            <div class="col-xs-3">Seat</div>
        </div>
        <div class="row">
            <div class="col-xs-6">{{ticket.departure | date:'yyyy-MM-dd'}}</div>
            <div class="col-xs-3">A2</div>
            <div class="col-xs-3">105</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-4">Boarding time</div>
            <div class="col-xs-4">{{ticket.departureHour}} </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">From</div>
            <div class="col-xs-6">To</div>
        </div>
        <div class="row">
            <div class="col-xs-6">{{ticket.destinationFrom}}</div>
            <div class="col-xs-6">{{ticket.destinationTo}}</div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6">Name</div>
            <div class="col-xs-6">Surname</div>
        </div>
        <div class="row">
            <div class="col-xs-6">{{person.name}}</div>
            <div class="col-xs-6">{{person.surname}}</div>
        </div>
        <hr>
    </div>
</div>